[Unit]
Description=Fix groups for Legacy rechunker
Wants=local-fs.target
After=local-fs.target
# Before=systemd-sysusers.service

[Service]
Type=oneshot
ExecStart=rechunker-group-fix /etc/group
ExecStart=rechunker-group-fix /etc/gshadow
ExecStart=systemd-sysusers
ExecStart=systemd-tmpfiles --create --remove --boot --exclude-prefix=/dev

[Install]
WantedBy=default.target multi-user.target
